.footer {
  background: #131313;
  padding: 60px 0;
  .pretitle {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  .title {
    margin-top: 50px;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 848px;
  }
  .infoItem {
    margin-top: 70px;
    .desc {
      font-weight: 900;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;

      color: #FFFFFF;
    }
    .value {
      display: block;
      font-weight: 300;
      font-size: 52px;
      line-height: 60px;
      color: #FFFFFF;
      margin-top: 10px;
    }
  }
}
