@import "../variables.scss";
@import "../mixins";

$main-path: $home-path + '/main/';
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.firstSection {
  padding-top: 80px;
  background-image: url($main-path + 'bg.svg');
  min-height: 880px;
  display: flex;
  align-items: center;
  @include bacgroundSection;
  .title {
    .company {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      @include noSpaces;
    }
    .offer {
      font-style: normal;
      font-weight: bold;
      font-size: 54px;
      line-height: 65px;
      display: flex;
      align-items: center;
      color: $main-text-color;
      margin: 22px 0 26px;
    }
  }
  .needText {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $main-text-color;
    max-width: 353px;
    @include noSpaces;

  }
}

.secondSection {

}

.firstSectionTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.guarantee {
  padding: 120px 0 100px;
  .list{
    .item {
      margin-top: 50px;
      .content {
        position: relative;
        padding-bottom: 1px;
        min-height: 155px;
        .title {
          font-weight: bold;
          font-size: 32px;
          line-height: 39px;
          color: #252525;
        }
        .text {
          margin-top: 20px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #252525;
        }
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 70%;
          border-bottom: 1px solid #E6E6E6;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
